.nav-class {
    height: 60px !important;
}
nav svg {
    height: min(1.5rem, 7.5vw) !important;
}

.down-page {
    height: calc(100vh - 60px) !important;
}
input[type="range"],
input[type="radio"]
{
    cursor:pointer;
    accent-color:#278b92 !important;
    width:20px;
    height:20px;
}